@using Image.Stuff.Data
@model MvcApplication28.Models.IndexViewModel

<div class="row">

    <form method="POST" action="/stuff/upload" enctype="multipart/form-data">
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Word" name="word"/>
        </div>
        <div class="col-md-3">
            <input type="file" name="image" class="form-control"/>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary btn-block">Submit</button>
        </div>
    </form>

</div>

<div class="row" style="margin-top: 20px;">
    <table class="table table-hover table-striped table-bordered">
        <tr>
            <th>Image</th>
            <th>Word</th>
        </tr>
        @foreach (Stuff s in Model.Stuff)
        {
            <tr>
                <td><img src="/Images/@s.ImageFileName" height="100"/></td>
                <td>@s.Word</td>
            </tr>
        }
    </table>
</div>